.cart-no-items {
  font: 300 1.5em/1 $font;

  margin: 2em 0;
  text-align: center;

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cart-sub {
  color: $dim-color;
  font: 300 1rem/1.5 $font;
}

.cart-qty-buttons {
  // flex
  display: flex;
  align-items: center;
}

.cart-qty-button {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font: 400 1em/1 $font;
  outline: none;

  transition: background-color $anim-time;

  padding: 0.5rem;

  &.subtract {
    color: $dark-color;
    background-color: $light-color;
    border-color: darken($light-color, 5%);

    &:hover {
      background-color: lighten($light-color, 5%);
      border-color: $light-color;
    }
  }

  &.add {
    color: #fff;
    background-color: $accent-color;
    border-color: darken($accent-color, 10%);

    &:hover {
      background-color: lighten($accent-color, 10%);
      border-color: $accent-color;
    }
  }
}

.cart-qty {
  font: 300 1em/1 $font;

  min-width: 2em;
  text-align: center;
}

.cart-price {
  @extend .product-view-price;
}

.cart-qty-button.remove {
  color: $dark-color;
  background-color: $light-color;
  border-color: darken($light-color, 5%);

  margin-left: 0.5em;

  &:hover {
    background-color: lighten($light-color, 5%);
    border-color: $light-color;
  }
}

.cart-table {
  @include content-container;

  width: 100%;
  margin: {
    top: 2em;
    bottom: 2em;
  }
  border-collapse: collapse;

  thead {
    td {
      font-weight: bold;
    }
  }

  tr.standalone td {
    padding: 1.5rem 0.5rem;

    &.bold {
      font-weight: bold;
    }
  }

  td {
    border-bottom: 1px solid $light-color;
    font: 300 1.5em/1 $font;

    padding: 0.5rem;

    img {
      border-radius: 5px;

      width: 4em;
    }
  }
}

.cart-checkout-button {
  @extend .cart-qty-button;
  @extend .cart-qty-button.add;

  min-width: 10em;
  padding: 1rem;
}
