@import 'checkout';

$first-shop-breakpoint: $content-width + 1;

.shop-product-container {
  max-width: 70em;
  margin: 0 1em 1em 1em;

  @include breakpoint-outside($mobile-desktop-breakpoint, $first-shop-breakpoint) {
    margin: 0 auto 1em auto;
  }

  position: relative;
}

@mixin shop-product-cart-img($size, $margin, $border-width) {
  img {
    width: #{$size - $margin * 2 - $border-width * 2};
    margin: $margin;
  }
}

.shop-product-cart {
  $size: 50px;
  $margin: 8px;
  $border-width: 1px;
  $anim-time: 0.2s;

  $gold: #ebd939;

  background-color: $gold;
  border: $border-width solid darken($gold, 15%);
  border-radius: $size;
  box-shadow: 0 0 7px $gold;
  cursor: pointer;
  outline: none;

  transition: background-color $anim-time, border-color $anim-time, box-shadow $anim-time;

  width: $size;
  height: $size;
  padding: 0;

  // positioning
  position: absolute;
  top: -0.5em;
  left: 5em;
  z-index: 1;

  @include shop-product-cart-img($size, $margin, $border-width);

  @include mobile {
    $size: 30px;
    $margin: 4px;

    width: $size;
    height: $size;

    top: 0.25em;
    left: 0.25em;

    @include shop-product-cart-img($size, $margin, $border-width);
  }

  &:hover {
    background-color: #fff;
    border-color: #eee;
    box-shadow: 0 0 7px #fff;
  }
}

.shop-product-desc {
  color: #fff;
  font: $font;
  font-style: italic;
  text-transform: lowercase;

  margin: 0 0 0.5em 0;

  @include mobile {
    font-size: 1.25em;
  }
}

.shop-product-title {
  color: #fff;
  font: $font;
  font-size: 1em;

  @include mobile {
    font-size: 0.75em;
  }
}

@mixin shop-product-child($bg-color, $polygon, $opp-color) {
  background-color: $bg-color;

  @include desktop {
    clip-path: $polygon;
  }

  .shop-product-desc::before {
    color: $opp-color;
    content: '> ';
  }
}

.shop-product {
  padding: 1em;

  @include desktop {
    padding: {
      left: 6em;
      right: 6em;
    }
  }

  @include mobile {
    padding: 0.75em;
  }

  // flex
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 2em;

    @include mobile {
      margin-right: 0.75em;
    }
  }

  &[data-product-id="0"] {
    @include shop-product-child($dark-color, polygon(0 0, 95% 0, 100% 100%, 5% 100%), $accent-color);
  }

  &[data-product-id="1"] {
    @include shop-product-child($accent-color, polygon(5% 0, 100% 0, 95% 100%, 0 100%), $dark-color);
  }
}

.shop-product-img {
  $width: 15em;

  width: $width;

  @include breakpoint-lte($first-shop-breakpoint) {
    width: #{$width / 1.5};
  }

  @include mobile {
    width: #{$width / 3};
  }
}

.shop-product-action {
  // flex
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-product-action-item {
  color: #fff;
  font: $font;

  line-height: 2;

  @include mobile {
    font-size: 1.25em;
  }

  &:not(.sub) {
    border-bottom: 1px solid #fff;
  }

  &.sub {
    font-size: 1em;

    @include mobile {
      font-size: 0.75em;
    }

    @include breakpoint-visibility($first-shop-breakpoint, '.short', '.long');
  }
}
