.product-view-container {
  @include content-container;

  padding: 0 2em 0 2em;

  // flex
  display: flex;
  align-items: center;
}

.product-view-img {
  border-radius: 20px;

  width:auto;
  height: auto;
  max-width: 15em;
  max-height: 15em;
  margin: 2em 2em 2em 0;
}

.product-view-title {
  font: 400 2em/1.5 $font;

  margin: 0;
}

.product-view-price {
  color: darken($accent-color, 10%);
}

.product-view-description {
  color: $dim-color;
  font: 300 1em/1.5 $font;
}
