.footer {
  max-width: $content-width;
  margin: 2em auto 1em auto;
  display: flex;

  @include breakpoint-lte($content-width + 1em) {
    margin: 2em 1em 1em 1em;
  }
}

.footer-item {
  color: darken($dim-color, 15%);
  font: $font;
  font-size: 1em;

  @include mobile {
    font-size: 0.75em;
  }

  a {
    color: $accent-color;
    text-decoration: none;

    transition: color 0.1s;

    &:hover {
      color: lighten($accent-color, 15%);
    }
  }

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.footer-item-link {
  padding: 0 0.5em;

  &:last-child {
    margin-right: 0.5em;
  }

  &.active {
    font-weight: bold;
  }
}

.footer-lang > *:nth-child(even) {
  margin-right: 0.75em;
}
