.footer {
  @include content-container;

  margin: {
    top: 1em;
    bottom: 1em;
  }

  // flex
  display: flex;
}

.footer-item {
  color: $dim-color;
  font: 300 1em/1 $font;

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
