.header {
  @include content-container;
}

.header-nav {
  // flex
  display: flex;
  align-items: center;
}

.header-nav-item {
  color: $dim-color;
  font: 300 1.5em/1 $font;
  text-decoration: none;

  transition: color $anim-time;

  display: block;
  margin: 1rem;

  &.currency {
    // flex
    display: flex;
    align-items: center;

    &:not(:hover):not(.active) img {
      opacity: 0.75;
    }

    img {
      transition: opacity $anim-time;

      margin-right: 0.5rem;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $accent-color;
  }

  &.active {
    color: $accent-color;
  }
}

.header-cart-count {
  color: $accent-color;
  font-weight: bold;
}
