.main-jumbo {
  background-image: url(/img/ball_preview_edit.jpg);
  background-size: cover;
}

.main-jumbo-container {
  max-width: #{$content-width + 20em};
  margin: 0 auto;

  @include desktop {
    height: 40em;

    // flex
    display: flex;
    align-items: center;
  }

  @include mobile {
    padding: 1em;
  }
}

.main-jumbo-welcome {
  color: #fff;
  font: $font;
  font-size: 5rem;
  text-shadow: 0 0 5px #666;

  text-align: center;

  @include desktop {
    width: 50%;
  }

  @include breakpoint-lte(60em) {
    font-size: 2rem;
  }
}

.main-jumbo-welcome-small {
  font-size: 2rem;

  @include breakpoint-lte(60em) {
    font-size: 1rem;
  }
}

.main-jumbo-shop {
  @include desktop {
    width: 50%;
  }

  text-align: center;
}

.main-jumbo-shop-btn {
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font: $font;
  font-size: 2rem;
  outline: none;

  transition: background-color 0.2s;

  padding: 1rem;

  &:hover {
    background-color: lighten($accent-color, 5%);
  }

  &:active {
    background-color: lighten($accent-color, 10%);
  }

  @include mobile {
    font-size: 1.5rem;

    margin-top: 2rem;
  }
}
