@mixin breakpoint-gt($width) {
  @media not all and (max-width: $width) {
    @content;
  }
}

@mixin breakpoint-lte($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin breakpoint-outside($lower, $upper) {
  @media not all and (max-width: $upper), (max-width: $lower) {
    @content;
  }
}

@mixin breakpoint-visibility($breakpoint, $min-class, $max-class, $display: block) {
  @include breakpoint-lte($breakpoint) {
    &#{$min-class} {
      display: $display;
    }
  }

  @include breakpoint-gt($breakpoint) {
    &#{$max-class} {
      display: $display;
    }
  }
}

$mobile-desktop-breakpoint: 50em;

@mixin desktop {
  @include breakpoint-gt($mobile-desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @include breakpoint-lte($mobile-desktop-breakpoint) {
    @content;
  }
}
