$first-shop-breakpoint: $content-width + 1;

.shop-product-container {
  max-width: 70em;
  margin: 0 1em 1em 1em;

  @include breakpoint-outside($mobile-desktop-breakpoint, $first-shop-breakpoint) {
    margin: 0 auto 1em auto;
  }

  position: relative;
}

.shop-product-link-container {
  text-decoration: none;
}

@mixin shop-product-cart-img($size, $margin, $border-width) {
  img {
    width: #{$size - $margin * 2 - $border-width * 2};
    margin: $margin;
  }
}

$cart-btn-size: 50px;
$mobile-cart-btn-size: 30px;

.shop-product-cart {
  $margin: 8px;
  $border-width: 1px;
  $anim-time: 0.2s;

  $gold: #ebd939;

  background-color: $gold;
  border: $border-width solid darken($gold, 15%);
  border-radius: $cart-btn-size;
  box-shadow: 0 0 7px $gold;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  transition: background-color $anim-time, border-color $anim-time, box-shadow $anim-time;

  width: $cart-btn-size;
  height: $cart-btn-size;
  padding: 0;

  // positioning
  position: absolute;
  top: -0.5em;
  left: 4em;
  z-index: 1;

  @include shop-product-cart-img($cart-btn-size, $margin, $border-width);

  @include mobile {
    $mobile-margin: 4px;

    width: $mobile-cart-btn-size;
    height: $mobile-cart-btn-size;

    top: 0.25em;
    left: 0.25em;

    @include shop-product-cart-img($mobile-cart-btn-size, $mobile-margin, $border-width);
  }

  &:hover {
    background-color: #fff;
    border-color: #eee;
    box-shadow: 0 0 7px #fff;
  }
}

.shop-product-cart-txt {
  color: $dark-color;
  font: $font;

  display: block;
  line-height: $cart-btn-size;
  text-align: center;

  @include mobile {
    font-size: 1em;

    line-height: $mobile-cart-btn-size;
  }
}

.shop-product-desc {
  color: #fff;
  font: $font;
  font-style: italic;
  text-transform: lowercase;

  margin: 0 0 0.5em 0;

  @include mobile {
    font-size: 1.25em;
  }
}

.shop-product-title {
  color: #fff;
  font: $font;
  font-size: 1em;

  @include mobile {
    font-size: 0.75em;
  }
}

@mixin shop-product-child($bg-color, $polygon, $opp-color) {
  background-color: $bg-color;

  transition: background-color 0.2s;

  @include desktop {
    clip-path: $polygon;
  }

  .shop-product-desc::before {
    color: $opp-color;
    content: '> ';
  }

  &:hover {
    background-color: lighten($bg-color, 5%);
  }
}

.shop-product {
  padding: 1em;

  @include desktop {
    padding: {
      left: 6em;
      right: 6em;
    }
  }

  @include mobile {
    padding: 0.75em;
  }

  // flex
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 2em;

    @include mobile {
      margin-right: 0.75em;
    }
  }

  &[data-product-id="0"] {
    @include shop-product-child($dark-color, polygon(0 0, 95% 0, 100% 100%, 5% 100%), $accent-color);
  }

  &[data-product-id="1"] {
    @include shop-product-child($accent-color, polygon(5% 0, 100% 0, 95% 100%, 0 100%), $dark-color);
  }
}

.shop-product-img {
  $width: 15em;

  width: $width;

  @include breakpoint-lte($first-shop-breakpoint) {
    width: #{$width / 1.5};
  }

  @include mobile {
    width: #{$width / 3};
  }
}

.shop-product-action {
  // flex
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-product-action-item {
  color: #fff;
  font: $font;

  line-height: 2;

  @include mobile {
    font-size: 1.25em;
  }

  &:not(.sub) {
    border-bottom: 1px solid #fff;
  }

  &.sub {
    font-size: 1em;

    @include mobile {
      font-size: 0.75em;
    }

    @include breakpoint-visibility($first-shop-breakpoint, '.short', '.long');
  }
}

.shop-product-prev {
  max-width: $content-width;
  margin: 0 auto;
}

.shop-product-prev-back-link {
  color: $accent-color;
  font: $font;
  font-size: 1em;
  text-decoration: none;

  transition: 0.2s;

  &:hover {
    color: lighten($accent-color, 10%);
  }
}

.shop-product-prev-header {
  background-color: #334;
  border-radius: 999px;

  margin-top: 1em;
  padding: 2em;

  // flex
  display: flex;
  align-items: center;
}

.shop-product-prev-img {
  width: 15em;
  margin-right: 2em;
}

.shop-product-prev-title {
  color: #fff;
  font: $font;
  font-size: 2em;

  @include mobile {
    font-size: 0.75em;
  }
}

.shop-product-prev-qty-container {
  margin-bottom: 2em;
}

.shop-product-prev-qty-note {
  color: #667;
  font: $font;
  font-size: 0.75em;
}

.shop-product-prev-table {
  border-spacing: 0;

  margin: 2em auto;

  td {
    border-bottom: 1px solid #667;
    font: $font;
    font-size: 1.5em;

    padding: 1em;
  }

  thead td {
    font-weight: bold;
  }
}

.shop-product-prev-qty-btn {
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  outline: none;

  transition: background-color 0.2s;

  height: 100%;

  &:hover {
    background-color: #ccc;
  }
}

.shop-product-prev-qty-btn, .shop-product-prev-qty-btn-txt {
  color: #223;
  font: $font;
  font-size: 1em;
}

.shop-product-prev-qty-btn-txt {
  min-width: 1em;
  display: inline-block;
  text-align: center;
}

.shop-product-prev-qty-cart-link {
  text-decoration: none;
}
