@import 'variables';
@import 'media-mixins';
@import 'global';

// partials
@import 'header';
@import 'footer';

// pages
@import 'shop/index';

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;

  margin: 0;
}
