@import "variables";
@import "helpers";

// partials
@import "header";
@import "footer";

// pages
@import "home";
@import "shop";
@import "product";
@import "contact";

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $dark-color;

  margin: 0;
}
